@import "./../../style/variables";
@import "./../../style/typography";


#offert{
    margin: 80px 0px;
}



.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;

    .item{
        img{
            width: 400px;
            height: 100%;
        }

        .WorkName{
            h3{
                font-size: 20px;
            }
            img{
                width: 25px;
            }            
        }
    }
}

