@import "./../../style/variables";
@import "./../../style/typography";




#abaut{
    margin-bottom: 80px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;

    
  @media screen and (max-width: $Sm) {
    margin-left: 25px;
    margin-right: 25px;
  }

  @media (min-width: $Sm) and (max-width: $Md) {
    margin-left: 55px;
    margin-right: 55px;
}



    .abaut{
        display: flex;
        padding-top: 36px;
        padding-bottom: 36px;

    }

    p{
        text-align: justify;
        font-size: 22px;
        margin-top: 50px;
    }

    img{
        width: 500px;
        margin-left: 80px;

  

        @media (max-width: $Xl) {
            display: none;
        }

        @media (min-width: $Xl) and (max-width: $Xxl) {
            height: 100%;
          }

    }
}










