@import "variables";
@import "mixins";


@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Alexandria', sans-serif;
  overflow-x: hidden;

}




.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 36px;
  padding-bottom: 36px;

  @media screen and (max-width: $Sm) {
    display: flex;
    flex-direction: column;
    }
}




.section-title{
  text-align: center;  
  position: relative;
  font-size: 50px;
  margin-bottom: 70px;


  @media screen and (max-width: $Sm) {
    font-size: 25px;
  }
  
  @media (min-width: $Sm) and (max-width: $Md) {
      font-size: 30px;
  }

  @media (min-width: $Md) and (max-width: $Lg) {
    font-size: 40px;
  }

  @media (min-width: $Lg) and (max-width: $Xl) {
    font-size: 40px;     
  } 

  

  &::before{
    content: "";
    background-color: #fcd100;
    position: absolute;
    width: 100px;
    height: 5px;
    top: 53px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;



    @media screen and (max-width: $Sm) and (max-width: $Md) {
      top: 35px;
      height: 3px;
    }

    @media screen and (max-width: $Md) and (max-width: $Lg) {
      top: 35px;
      height: 3px;
    }

    

    @media (max-width: $Lg) and (max-width: $Xl) {
      top: 45px;
    }



  }


 
}


.more-btn{
  color: white;
  background-color: $orange;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 20px;
  font-weight: 700;
  border: 3px solid $orange;
  font-size: 16px;

  @media screen and (max-width: $Sm) {
    font-size: 14px;
  }

  h3{
    font-weight: 700;
  }

  &:hover{
    background-color: transparent;
    color: $orange;
  }

  
}




.header-bg{
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;


  .page-name{
    background-color: $orange;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 500px ;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $Sm) {
      width: 85%;
      }
   
  }
}


.item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  img{
    width: 370px;
    height: 100%;

    @media (min-width: $Md) and (max-width: $Lg) {
      width: 330px;
  }
  @media (min-width: $Lg) and (max-width: $Xl) {
    width: 300px;    

  }

  }


.WorkName{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 115px;
  background-color: #fcd100d6;
  display: flex;
  width: 320px;
  justify-content: center;
  padding: 20px;
  align-items: center;

  @media screen and (max-width: $Sm) {
    left: auto;
    right: auto;
  }

  @media (min-width: $Md) and (max-width: $Lg) {
    width: 275px;
  }

  @media (min-width: $Lg) and (max-width: $Xl) {
    width: 260px;       
  }

  img{
    width: 25px;
  }   

      .tools{
          margin: 0;
          width: 20px;
          height: 20px;
      }


      h3{
          margin-left: 5px;
          color: white;            
          font-weight: bold;
          font-size: 18px;
          font-weight: 600;


          
          @media (min-width: $Sm) and (max-width: $Lg) {
            font-size: 16px;
          }

          @media (min-width: $Lg) and (max-width: $Xl) {
            font-size: 18px;     
          }  
          
          @media (min-width: $Lg) and (max-width: $Xl) {
            font-size: 15px;
           
          }

      }
  }


}